.file-list {
  border: dotted
}

.result-panel {
  border: lightseagreen
}

#table-head {
  display: none
}

.processing-row {
  background-color: lightcoral
}

.selected-row {
  background-color: lightgreen
}
