.file-list {
  border: dotted
}

.file-content {
  display: none
}

.result-panel {
  border: lightseagreen
}

/*#table-head {
  display: none
}*/

.processing-row {
  background-color: lightcoral
}

.selected-row {
  background-color: lightgreen
}
